@import url('https://fonts.googleapis.com/css2?family=Joan&family=Lobster&family=Poppins&display=swap');

body {
    font-family: 'Joan', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif !important;
}

.nav-educare-button:hover {
    color: #ffffff !important;
}

.carousal-slider-img img {
    height: 700px;
}

.slider-caption-area {
    transform: translate(0, -50%);
}

.slider-head-text {
    font-size: 65px;
    font-weight: 600;
    line-height: 85px;
}

.slider-para-text {
    font-size: 18px;
    line-height: 30px;
    color: #f4f4f4;
}

.slider-get-button {
    font-weight: 600;
    background-color: #289bde;
    border: 0;
}

.footer-container {
    background-color: #a3a3a3;
}

.company-social-lists {
    margin-bottom: 0;
}

.company-social-lists a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin: 10px;
    background-color: #453e3e;
}

.company-social-lists .fb {
    padding: 5px 14px;
}

.company-social-lists .twt {
    padding: 5px 10px;
}

.company-social-lists .lind {
    padding: 5px 11px;
}

@media screen and (max-width: 576px) {
    .carousal-slider-img img {
        height: 450px;
    }

    .slider-caption-area {
        transform: translate(0, 0%);
    }

    .slider-head-text {
        font-size: 40px;
        line-height: 50px;
    }

    .slider-para-text {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
    .carousal-slider-img img {
        height: 450px;
    }

    .slider-caption-area {
        transform: translate(0, 0%);
    }

    .slider-head-text {
        font-size: 40px;
        line-height: 50px;
    }

    .slider-para-text {
        font-size: 16px;
        line-height: 24px;
    }

}